.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkcyan;
  font-size: 22px;
  color: antiquewhite;
  font-family: monospace;
  text-align: center;
}